body.castas {
  background-color: #f2f0ec; }

.row.p-text {
  margin-right: 20px; }

.col-lg-offset-3.col-lg-9 h3:first-child {
  margin-top: 0; }

.p-text h3 {
  color: #946f61;
  font-family: 'Montserrat Subrayada';
  font-size: inherit; }

.p-text .hidden-sm.hidden-xs.col-lg-offset-3.col-lg-9.multi-column {
  padding: 50px 0 100px 0; }

.m-bot {
  margin-bottom: 25px; }

.multi-column {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px; }

.multi-column div {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid; }
