.banner-img {
  height: 550px;
  background-size: cover; }

.banner-text {
  color: white;
  padding-top: 400px;
  font-family: 'MontserratRegular';
  font-size: 36px;
  text-transform: uppercase; }

.company-name {
  text-transform: uppercase;
  font-weight: bold; }

.company-name,
.contact-details {
  padding-top: 50px; }

.morada {
  line-height: 30px;
  font-family: 'MontserratLight';
  font-size: 14px; }

.person-contact {
  padding-bottom: 40px;
  font-family: 'MontserratLight';
  font-size: 14px;
  color: #936f61; }

.email-phone {
  line-height: 20px;
  padding-top: 40px;
  font-family: 'MontserratLight';
  font-size: 14px; }

.google-maps,
.formulario-contacto {
  font-family: 'MontserratLight';
  font-size: 14px;
  width: 100%; }

.google-maps {
  padding-top: 40px; }

.google-maps p a {
  font-family: "Montserrat Subrayada";
  text-transform: uppercase;
  color: #936f61;
  text-decoration: none; }

div.formulario-contacto table tr td input[type="text"],
div.formulario-contacto table tr td input[type="email"],
div.formulario-contacto table tr td textarea {
  display: block;
  margin: 0;
  width: 100%;
  border: none;
  border-color: #ddc8bf;
  border-bottom: solid 1px;
  font-family: "MontserratLight";
  color: #ddc8bf;
  font-size: 14px;
  box-shadow: none;
  border-radius: none;
  line-height: 20px;
  margin-bottom: 10px; }

div.formulario-contacto table tr td textarea {
  padding-top: 25px;
  resize: vertical; }

::-webkit-input-placeholder {
  color: #ddc8bf; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ddc8bf; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ddc8bf; }

:-ms-input-placeholder {
  color: #ddc8bf; }

div.formulario-contacto button.contact-form-button {
  float: right;
  color: #ffffff;
  background-color: #ddc8bf;
  text-transform: uppercase;
  border: none;
  font-size: 12px;
  font-family: MontserratLight;
  line-height: 25px;
  padding: 5px 15px;
  padding-right: 50px;
  margin-left: 10px;
  margin-bottom: 30px; }

div.formulario-contacto button.contact-form-button.btn-reset {
  background-color: #e9dbd5 !important; }
