body.regioes {
  background-color: #f1efeb; }

.padding {
  padding: 50px 0 70px 0; }

.regioes-title {
  text-transform: uppercase;
  padding-top: 150px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 36px; }

.regioes-subtitle {
  color: #FFFFFF;
  font-family: "Montserrat Subrayada";
  font-size: 24px;
  margin-bottom: 55px; }

.bg-color-full {
  background-color: #f1efeb; }

.mBot {
  padding-top: 45px;
  margin-bottom: 20px; }

.p-text h3 {
  font-family: "Montserrat Subrayada";
  font-size: 14px;
  color: #946f61;
  text-transform: uppercase; }

.hidden-sm.hidden-xs.map {
  text-align: right;
  margin-top: -350px; }

.map img {
  height: 550px;
  margin-bottom: 35px; }

.map {
  text-align: center; }

@media (min-width: 992px) {
  .map {
    padding-right: 110px; } }
@media (min-width: 1200px) {
  .map {
    padding-right: 165px; } }
@media (max-width: 767px) {
  .regioes-title {
    padding-top: 130px;
    text-align: center; }

  .regioes-subtitle {
    text-align: center; } }
