.black-block {
  font-family: MontserratLight; }

.background {
  opacity: 0; }

.title,
.subtitle {
  text-align: center; }

.transparent-background,
.background {
  transition: opacity 0.5s ease-in-out; }

.menu-background[data-state="1"] .background[data-item="1"],
[data-state="1"] [data-menu-item="1"] .transparent-background {
  opacity: 1; }

.menu-background[data-state="2"] .background[data-item="2"],
[data-state="2"] [data-menu-item="2"] .transparent-background {
  opacity: 1; }

.menu-background[data-state="3"] .background[data-item="3"],
[data-state="3"] [data-menu-item="3"] .transparent-background {
  opacity: 1; }

.menu-background[data-state="4"] .background[data-item="4"],
[data-state="4"] [data-menu-item="4"] .transparent-background {
  opacity: 1; }

.text-position {
  position: relative;
  top: 1px; }

.text-position .title {
  line-height: 135%; }

.text-position .subtitle {
  font-size: 16px;
  line-height: 135%;
  padding-top: 3px; }
