body.momentos-unicos,
body.momentos-unicos-azeite {
  background-color: #f2f0ec; }

.attr-container {
  width: 1440px;
  padding: 0;
  position: relative; }

.img-mu {
  opacity: 0.8;
  transition: .5s ease;
  -moz-transition: .5s ease;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease-out; }

.img-mu:hover {
  opacity: 1; }

.image1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 600px; }

.image2 img {
  width: 1440px;
  height: 600px; }

.image2 {
  position: absolute;
  top: 600px;
  left: 0;
  width: 960px;
  height: 600px; }

.image2 img {
  width: 960px;
  height: 600px; }

.image3 {
  position: absolute;
  top: 1200px;
  left: 0px;
  width: 480px;
  height: 936px; }

.image3 img {
  width: 480px;
  height: 936px; }

.image4 {
  position: absolute;
  top: 1200px;
  left: 480px;
  width: 960px;
  height: 600px;
  margin: 0; }

.image4 img {
  width: 960px;
  height: 600px; }

.image5 {
  position: absolute;
  top: 1800px;
  left: 960px;
  width: 480px;
  height: 936px;
  margin: 0; }

.image5 img {
  width: 480px;
  height: 936px; }

.image6 {
  position: absolute;
  top: 2136px;
  left: 0px;
  width: 960px;
  height: 600px; }

.image6 img {
  width: 960px;
  height: 600px; }

.image7 {
  position: absolute;
  top: 2736px;
  left: 480px;
  width: 960px;
  height: 600px; }

.image7 img {
  width: 960px;
  height: 600px; }

.title {
  line-height: 250%; }

.text {
  font-family: 'MontserratThin', sans-serif;
  font-weight: 100;
  text-transform: none;
  line-height: 130%; }

.green-box a {
  text-decoration: none;
  color: inherit; }

.black-box a {
  text-decoration: none;
  color: inherit; }

.vertically-centered {
  font-size: 26px;
  text-align: center;
  text-decoration: none; }

.black-box {
  position: absolute;
  top: 600px;
  left: 960px;
  width: 480px;
  height: 600px;
  background-color: black;
  color: white;
  margin: 0; }

.orange-box {
  position: absolute;
  top: 1800px;
  left: 480px;
  width: 480px;
  height: 336px;
  background-color: #c7a597;
  color: black;
  margin: 0;
  clear: right; }

.green-box {
  position: absolute;
  top: 2736px;
  left: 0px;
  width: 480px;
  height: 600px;
  background-color: #bdac3b;
  color: black; }

.f {
  position: absolute;
  top: 3336px;
  width: 100%; }

@media (max-width: 1440px) {
  .f {
    width: 1440px; } }
